@import "constants.scss";
@import "header.scss";
@import "src/pages/main/style/datagrid";
@import "src/pages/main/style/graph";

* {
  margin: 0;
  padding: 0;
  color: var(--primary-text)
}

:root {
  background-color: var(--primary-background);
}